.tags_block .block_content {
  overflow: hidden; }
  .tags_block .block_content a {
    display: inline-block;
    font-weight: bold;
    padding: 5px 10px;
    text-transform: capitalize;
    float: left;
    margin: 0 3px 3px 0; }
    .tags_block .block_content a:hover {
      color: white;
      background: #333; }
