/* product desc */
/* primary_block ***************************************************************************** */
.primary_block {
  margin-bottom: 40px;
  overflow: hidden; }

.top-hr {
  background: #c4c4c4;
  height: 5px;
  margin: 2px 0 31px; }

.product-heading-h5 {
  font-weight: 200;
  margin: 3px 0 8px;
  font-size: 19px;
  font-family: "Roboto Condensed Regular", serif; }

.box-security .product-heading-h5 {
  margin: 3px 0 -8px; }

#product_payment_logos {
  display: none; }

#productscategory_list .product-name,
.accessories-block .product-name {
  margin-bottom: 5px; }

#productscategory_list .product-name a,
.accessories-block .product-name a {
  font-size: 15px;
  line-height: 18px;
  color: #666666; }

.primary_block .pb-left-column img {
  max-width: 100%;
  height: auto; }

#productscategory_list ul.bxslider li.product-box {
  overflow: hidden; }

#productscategory_list ul.bxslider li.product-box .product-image {
  position: relative;
  display: block; }

#productscategory_list ul.bxslider li.product-box .product-image .img_0 {
  position: absolute;
  top: 5px;
  left: 102%;
  transition: 0.3s all ease 0s;
  -webkit-transition: 0s all ease 0s;
  width: 96.5%;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=00)"; }

#productscategory_list ul.bxslider li.product-box:hover .product-image .img_0 {
  left: 5px;
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; }

a.fancybox-nav {
  outline: 0; }

/* .pb-left-column ***************************************************************************** */
.pb-left-column #image-block {
  position: relative;
  display: inline-block;
  cursor: pointer;
  padding: 5px 10px;
  border: 1px solid #e6e6e6;
  background: white; }

.pb-left-column #image-block img {
  background: #e6e6e6;
  width: 100%; }

.pb-left-column #image-block #view_full_size .span_link {
  position: absolute;
  bottom: 20px;
  left: 50%;
  margin-left: -68px;
  display: block;
  padding: 10px 0;
  text-align: center;
  line-height: 22px;
  color: #777676;
  width: 136px;
  text-align: center;
  font-weight: 700;
  background: rgba(255, 255, 255, 0.5); }

.pb-left-column #image-block #view_full_size .span_link:after {
  font-family: "FontAwesome";
  color: #c0c0c0;
  font-size: 20px;
  line-height: 22px;
  content: "\f00e";
  font-weight: normal;
  margin: 0 0 0 4px; }

.pb-left-column #image-block #view_full_size .span_link:hover:after {
  color: #333333; }

.pb-left-column #image-block a.zoomImg {
  display: block;
  height: 32px;
  width: 32px;
  text-align: center;
  position: absolute;
  right: 18px;
  bottom: 12px;
  color: #fff;
  text-align: center;
  z-index: 9999; }

.pb-left-column #image-block a.zoomImg .fa {
  margin: 0px;
  line-height: 32px;
  font-size: 14px; }

.pb-left-column #image-block a.jqzoom div div img {
  width: auto;
  max-width: 10000px; }

.pb-left-column #image-block a.jqzoom div div .zoomWrapper {
  border: none; }

.pb-left-column #image-block .zoomPad {
  z-index: auto !important; }

.pb-left-column #image-block .new-box,
.pb-left-column #image-block .sale-box {
  z-index: 9; }

/* miniatures */
.pb-left-column #views_block {
  margin-top: 10px;
  position: relative; }

#thumbs_list {
  overflow: hidden;
  float: left;
  width: 296px; }

#thumbs_list ul#thumbs_list_frame {
  list-style-type: none;
  padding-left: 0;
  overflow: hidden; }

#thumbs_list li {
  float: left;
  cursor: pointer;
  margin: 0 10px 0 0;
  padding: 10px 0px; }

#thumbs_list li a {
  display: block;
  border: 1px solid #e6e6e6;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: relative; }

#thumbs_list li a.zoomThumbActive {
  border: 1px solid #e74847; }

/*      #thumbs_list li a:after {
        content: "";
        height: 5px;
        width: 0%;
        position: absolute;
        left: -1px;
        top: -6px;
        transition: 0.3s all ease 0s; }
      #thumbs_list li a:hover:after, #thumbs_list li a.shown:after, #thumbs_list li a.zoomThumbActive:after {
        width: 104%; }*/
#thumbs_list li a img {
  width: 62px; }

span.view_scroll_spacer {
  float: left;
  margin: 25px 0;
  width: 36px;
  height: 36px; }

span.view_scroll_spacer > a {
  width: 36px;
  height: 36px;
  background: #7F7F7F;
  text-align: center;
  border-radius: 3px; }

span.view_scroll_spacer > a .fa {
  margin: 0;
  line-height: 36px;
  color: white;
  font-size: 18px; }

.resetimg {
  padding: 10px 0 0; }

.resetimg #resetImages i {
  margin-right: 6px; }

/* link list */
#usefull_link_block {
  list-style-type: none; }

#usefull_link_block li a {
  font-weight: 700;
  position: relative;
  display: inline-block; }

/* pb-left-column ****************************************************************************** */
.pb-center-column {
  margin-bottom: 30px;
  /* form */ }

.pb-center-column h1 {
  padding-bottom: 16px;
  font-size: 20px;
  color: #3a3939; }

.pb-center-column p {
  margin-bottom: 10px; }

.pb-center-column #product_reference {
  margin-bottom: 6px; }

.pb-center-column #short_description_block {
  color: #666666; }

.pb-center-column #short_description_block .buttons_bottom_block {
  display: none; }

.pb-center-column #short_description_block #short_description_content {
  padding: 0 0 15px;
  word-wrap: break-word; }

.pb-center-column #short_description_block #short_description_content p {
  line-height: 18px; }

.pb-center-column #buy_block {
  margin-top: 10px; }

.pb-center-column #buy_block label {
  display: inline-block;
  width: 125px;
  font-weight: 700;
  font-size: 12px;
  text-align: right; }

.pb-center-column #buy_block p.price {
  padding: 0; }

.pb-center-column #color_picker p {
  padding-bottom: 5px;
  font-weight: 700; }

#product p#loyalty {
  padding: 17px 0 15px 35px;
  border-top: 1px solid #e7e4de;
  border-bottom: 1px solid #e7e4de;
  margin: 10px 0 -5px;
  position: relative; }

#product p#loyalty b {
  color: #333333; }

#product p#loyalty:before {
  content: "\f024";
  font-family: "FontAwesome";
  color: #cfcccc;
  font-size: 26px;
  line-height: 28px;
  position: absolute;
  top: 16px;
  left: 0; }

/* pb-right-column ****************************************************************************** */
.pb-right-column h1 {
  font-size: 18px;
  margin: 0 0 10px; }

.pb-right-column ul.product_reference > li#product_reference, .pb-right-column ul.product_reference > li#product_condition {
  display: none !important; }

.pb-right-column ul.product_reference > li #product_comments_block_extra {
  margin-top: 10px; }

.pb-right-column ul.product_reference > li #product_comments_block_extra .star_content {
  margin: 0px; }

.pb-right-column ul.product_reference > li label {
  font-weight: normal; }

.pb-right-column ul.product_reference > li:after {
  content: "|"; }

.pb-right-column ul.product_reference > li:last-child:after {
  content: ""; }

/* prices */
.content_prices {
  margin-bottom: 0;
  float: left;
  margin-right: 10px; }

.our_price_display {
  font-size: 24px;
  line-height: 32px; }

.our_price_display #our_price_display {
  font-size: 24px;
  font-weight: normal; }

#old_price {
  padding-bottom: 15px;
  font-size: 17px;
  text-decoration: line-through;
  display: inline-block;
  font-family: "Roboto Condensed Regular", serif;
  line-height: 23px; }

#short_description_block {
  margin-bottom: 20px; }

#reduction_percent,
#reduction_amount {
  margin-right: 10px;
  padding: 1px 2px;
  font-weight: 600;
  font-family: "Roboto Condensed Regular", serif;
  font-size: 21px;
  line-height: 23px;
  color: white;
  background: #f13340;
  border: 1px solid #d02a2c; }

#reduction_percent span,
#reduction_amount span {
  display: block; }

.hide-left-column.hide-right-column #reduction_percent, .hide-left-column.hide-right-column
#reduction_amount {
  display: inline-block; }

.box-info-product {
  border-top: 1px solid #e6e6e6;
  margin: 30px 0;
  padding: 25px 0 15px; }

#attributes fieldset {
  padding-bottom: 10px; }

#attributes fieldset label {
  font-weight: normal;
  min-width: 100px; }

#attributes .attribute_list {
  display: inline-block;
  vertical-align: middle; }

#attributes .attribute_list .form-control {
  padding: 0px 8px 0px 0px;
  max-width: 250px;
  width: 150px; }

#attributes .attribute_list .form-control option {
  background: white;
  color: #666666; }

#attributes .attribute_list ul {
  clear: both; }

#attributes .attribute_list ul li {
  float: left;
  margin-right: 10px; }

#attributes .attribute_list input.attribute_radio {
  float: left;
  margin-left: 3px; }

#attributes .attribute_list div.radio,
#attributes .attribute_list div.radio span,
#attributes .attribute_list div.radio input {
  float: none;
  display: inline-block; }

#attributes .attribute_list #color_to_pick_list {
  list-style-type: none; }

#attributes .attribute_list #color_to_pick_list li {
  float: left;
  margin: 0 3px 3px 0;
  padding: 1px;
  border: 1px solid #e6e6e6;
  clear: none;
  width: 26px;
  height: 26px; }

#attributes .attribute_list #color_to_pick_list li a.color_pick {
  display: block;
  height: 22px;
  width: 22px;
  cursor: pointer; }

#attributes .attribute_list #color_to_pick_list li a.color_pick img {
  display: block;
  height: 22px;
  width: 22px; }

#attributes .attribute_list #color_to_pick_list li.selected {
  border: 1px solid #4d4d4d; }

/*moreinfo_block*/
h5.product-name {
  font-size: 16px;
  margin: 10px 0 12px; }

div.moreinfo_block {
  margin-bottom: 30px;
  float: left;
  width: 100%; }

div.moreinfo_block ul.nav-tabs {
  border: none;
  background: #ededed; }

div.moreinfo_block ul.nav-tabs > li {
  position: relative; }

div.moreinfo_block ul.nav-tabs > li a {
  font-size: 18px;
  border-right: 1px solid #e7e4de;
  border-top: none;
  color: #333;
  transition: 0.3s all ease 0s;
  border-bottom: 0;
  border-radius: 0;
  border-right-color: white;
  margin: 0px;
  padding: 16px 17px; }

div.moreinfo_block ul.nav-tabs > li:hover a {
  color: #fff; }

div.moreinfo_block ul.nav-tabs > li.active a, div.moreinfo_block ul.nav-tabs > li.active a:hover, div.moreinfo_block ul.nav-tabs > li.active a:focus {
  border-bottom: 0;
  border-top: none;
  color: #fff; }

div.moreinfo_block .tab-content {
  padding: 15px 0;
  display: block;
  margin: 0; }

div.moreinfo_block .tab-content .product-box {
  width: 261px !important; }

div.moreinfo_block .tab-content .block_content {
  padding: 0px; }

div.moreinfo_block .page-product-box {
  display: none; }

div.moreinfo_block .page-product-box.active {
  display: block; }

div.moreinfo_block .bx-viewport {
  min-height: 490px; }

/* table_data_sheet */
.table-data-sheet {
  border-bottom: 1px solid #e7e4de;
  width: 100%;
  margin: 0 0 20px;
  background: white; }

.table-data-sheet tr {
  border-top: 1px solid #e7e4de; }

.table-data-sheet tr td {
  padding: 10px 20px 11px; }

.table-data-sheet tr td:first-child {
  border-right: 1px solid #e7e4de;
  width: 30%;
  font-weight: 700;
  color: #333333; }

/* table product-discounts */
table.table-product-discounts {
  border: none;
  border-bottom: 1px solid #e7e4de;
  border-right: 1px solid #e7e4de;
  width: 50%;
  margin: 0 0 20px;
  background: white; }

table.table-product-discounts tr th {
  background: #e6e6e6;
  color: #333333;
  font-weight: 700;
  border: none;
  font-weight: 700; }

table.table-product-discounts tr td,
table.table-product-discounts tr th {
  border-left: 1px solid #e7e4de;
  width: 33%;
  padding: 10px 20px 11px;
  border-top: 1px solid #e7e4de;
  border-right: none;
  text-shadow: none;
  text-transform: none;
  font-weight: 13px;
  line-height: 18px;
  border-bottom: none; }

/* accessories  */
.accessories-block .block_description {
  display: none; }

.accessories-block .exclusive span {
  font-size: 13px;
  line-height: 18px;
  padding: 2px 8px 3px;
  text-decoration: none; }

.accessories-block .exclusive span:focus, .accessories-block .exclusive span:active {
  text-decoration: none; }

/* quantity_wanted */
#quantity_wanted_p {
  float: left;
  margin: 2px 0; }

#quantity_wanted_p input {
  width: 38px;
  height: 31px;
  padding: 0 6px;
  text-align: center;
  border: 1px solid #e7e4de;
  line-height: 31px; }

#quantity_wanted_p .btn {
  float: left;
  margin-left: 5px;
  padding: 6px 10px 7px;
  background: #999; }

#quantity_wanted_p .btn i {
  margin: 0; }

#quantity_wanted_p label {
  float: left;
  min-width: 105px;
  font-weight: normal;
  margin-top: 5px; }

.box-cart-bottom {
  float: left;
  margin: 1px 5px 0;
  background: #868686 url(../images/icon-addcart.png) center;
  padding: 0 13px;
  padding-left: 35px;
  background-repeat: no-repeat;
  background-position: 13px center;
  float: left;
  margin-right: 5px;
  white-space: nowrap;
  height: 33px;
  line-height: 31px;
  border-radius: 3px; }
  .box-cart-bottom i {
    display: none; }
  .box-cart-bottom:hover {
    background: url(../images/icon-addcart.png) center;
    background-position: 13px center;
    background-repeat: no-repeat; }
  .box-cart-bottom .button {
    background: transparent;
    padding: 0;
    font-size: 133.33%; }

#product #image-block .sale-box {
  display: none; }

/* availability_statut */
.pb-right-column #availability_statut {
  display: inline-block; }
  .pb-right-column #availability_statut #availability_value {
    background: transparent; }

.price-stock {
  float: left;
  width: 100%;
  margin-top: 10px; }

#availability_statut #availability_value {
  vertical-align: middle;
  overflow: hidden;
  display: inline-block; }

#availability_statut span#availability_label,
#availability_date_label {
  display: inline-block;
  width: 125px;
  font-weight: 700;
  font-size: 12px;
  text-align: right; }

#quantityAvailable {
  color: #333333;
  font-size: 13px;
  line-height: 18px;
  font-weight: 700; }

#last_quantities {
  color: white;
  font-weight: 700;
  line-height: 18px;
  display: inline-block;
  padding: 3px 8px 4px;
  background: #55c65e;
  border: 1px solid #36943e;
  margin-left: 5px; }

#last_quantities {
  background: #fe9126;
  border: 1px solid #e4752b;
  padding: 4px 8px 3px;
  position: relative;
  top: 1px; }

#pQuantityAvailable {
  display: inline-block;
  margin-bottom: 0;
  margin-top: 11px; }

#pQuantityAvailable span {
  font-weight: 700;
  color: #333333; }

#availability_statut #availability_value.warning_inline {
  background-color: #fe9126;
  border-color: #e4752b;
  text-shadow: 1px 1px #e68322;
  margin: 0; }

/* box-security */
.box-security {
  padding: 20px 0; }

/* online_only */
.pb-center-column p.online_only {
  font-weight: 700;
  font-size: 13px;
  color: #f13340;
  text-align: left; }

.box-info-product .sendtofriend, .box-info-product #usefull_link_block {
  display: inline-block;
  padding: 7px 5px; }

.box-info-product .sendtofriend .fa, .box-info-product #usefull_link_block .fa {
  font-size: 14px; }

.wishlist_button {
  width: 38px;
  height: 34px;
  border-radius: 3px;
  overflow: hidden;
  background: #868686;
  vertical-align: top;
  margin-right: 2px;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=00)";
  vertical-align: middle;
  transition: 0.6s all ease 0s;
  display: inline-block;
  position: relative; }
  .wishlist_button i {
    color: #fff;
    font-size: 17px;
    padding: 9px; }
  .wishlist_button:hover i.fa {
    color: #fff; }

/* Related Products ##################################################################### */
.blockproductscategory .productscategory_h3 {
  margin-bottom: 15px; }

/* SEND TO FRIEND (pop-in) ##################################################################### */
#send_friend_form {
  width: 600px;
  overflow: hidden; }

#send_friend_form .product img {
  margin: 0 0 10px 0;
  border: 1px solid #e6e6e6; }

#send_friend_form .product p {
  padding: 0;
  color: #333333; }

#send_friend_form .product p .product_name {
  font-size: 12px;
  color: #000; }

#send_friend_form .form_container {
  padding: 10px 15px;
  border: 1px solid #e6e6e6;
  background: white; }

#send_friend_form .form_container p.intro_form {
  padding-bottom: 6px;
  font-weight: 700;
  font-size: 13px;
  color: #333333; }

#send_friend_form .form_container p.txt_required {
  padding-bottom: 0;
  color: #666; }

#send_friend_form .form_container .text {
  padding-bottom: 10px; }

#send_friend_form .form_container .text label {
  display: block;
  padding: 0;
  width: 100%;
  font-size: 12px; }

#send_friend_form .form_container .text input {
  padding: 0 5px;
  width: 100%;
  color: #666; }

#send_friend_form .submit {
  margin-top: 20px;
  padding-bottom: 0;
  text-align: right; }

/* PERSONNALISATION ##################################################################### */
p.infoCustomizable {
  margin-bottom: 30px; }

ul#uploadable_files,
ul#text_fields {
  list-style-type: none; }

.customizableProductsFile,
.customizableProductsText {
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e6e6e6; }

.customizationUploadLine {
  padding-bottom: 10px; }

.customizationUploadLine label {
  display: block;
  vertical-align: top; }

.customizationUploadLine textarea {
  width: 50%;
  border: 1px solid #e7e4de; }

.customizationUploadBrowse img + a {
  position: relative;
  top: -51px; }

#customizedDatas {
  float: right; }

.accessories_block div ul li a {
  display: inline-block; }

.accessories_block div ul li.s_title_block a,
.accessories_block div ul li.s_title_block span {
  font-weight: 700; }

/******************************************************************
Quick View Styles
******************************************************************/
#product.content_only div.primary_block {
  margin: 0; }
  #product.content_only div.primary_block .column-left {
    width: 100%; }

#product.content_only div.primary_block div.pb-left-column {
  padding: 20px 20px 5px 20px;
  width: 47%; }

#product.content_only div.primary_block div.pb-left-column #views_block #thumbs_list {
  width: 220px; }

#product.content_only div.primary_block div.pb-left-column #views_block #thumbs_list #thumbs_list_frame {
  width: 550px !important; }

#product.content_only div.primary_block div.pb-center-column {
  padding: 20px 20px 60px 0px;
  width: 27.5%;
  margin-bottom: 0;
  min-height: 623px;
  height: 100%; }

#product.content_only div.primary_block div.pb-center-column #ShareDiv {
  position: absolute;
  bottom: 8px; }

#product.content_only div.primary_block div.pb-right-column {
  width: 52%;
  padding: 20px; }

#product.content_only div.primary_block div.pb-right-column .box-info-product {
  border-top-width: 0px;
  border-right: none;
  border-bottom: none;
  height: 100%;
  position: relative;
  margin: 0px; }

#product.content_only div.primary_block div.pb-right-column .box-info-product #add_to_cart {
  margin-bottom: 0; }
  #product.content_only div.primary_block div.pb-right-column .box-info-product #add_to_cart .exclusive {
    display: block;
    width: 100%;
    line-height: 30px; }

#product.content_only div.primary_block div.pb-right-column .box-info-product #add_to_cart .exclusive:before, #product.content_only div.primary_block div.pb-right-column .box-info-product #add_to_cart .exclusive:after {
  display: block; }

#product.content_only div.primary_block div.pb-right-column .box-info-product #add_to_cart .exclusive span {
  font-size: 14px;
  text-align: center; }

#product.content_only div.primary_block div.pb-right-column .box-info-product .box-cart-bottom {
  right: 0;
  left: 0; }

#product.content_only div.primary_block div.pb-right-column .product_attributes {
  padding-top: 0; }

#product.content_only div.primary_block div.pb-right-column #buy_block {
  margin-top: 30px; }

#product.content_only div.moreinfo_block {
  padding: 0px 20px; }

.socialsharing_product {
  margin: 0;
  border: 0;
  padding: 0;
  float: left;
  width: 100%;
  padding-bottom: 25px; }
  .socialsharing_product .social-share-fb, .socialsharing_product .social-share-twitter, .socialsharing_product .social-share-google-plus, .socialsharing_product .social-share-linkedin {
    float: left; }

#attributes .attribute_list .selector {
  width: 80px !important;
  height: 32px;
  position: relative;
  background: #fff;
  padding: 0; }
  #attributes .attribute_list .selector span {
    padding: 0 10px;
    background: #fff;
    color: #404040;
    width: 100% !important;
    text-shadow: none;
    position: absolute;
    z-index: -1;
    opacity: 0; }
  #attributes .attribute_list .selector select {
    padding: 6px;
    width: 100%;
    position: absolute;
    opacity: 1;
    top: auto;
    left: 0 !important;
    height: 100%;
    border: solid 1px #e2e2e2;
    box-shadow: none; }
  #attributes .attribute_list .selector:after {
    content: "\f0d7";
    background: #fff;
    color: #8d8d8d;
    text-align: center;
    margin: 0;
    position: absolute;
    right: 1px;
    top: 1px;
    height: 30px;
    width: 28px;
    pointer-events: none;
    font-family: Fontawesome; }

#buy_block .box-info-product {
  border-top: 0 !important; }

/*******Pretty Photo************/
div.pp_overlay {
  background: #000;
  display: none;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 9500; }

div.pp_pic_holder {
  display: none;
  position: absolute;
  width: 100px;
  z-index: 10000; }

div.pp_default .pp_gallery ul li a {
  background: url("../images/default_thumb.png") repeat scroll center center #f8f8f8;
  border: 1px solid #AAAAAA; }

.pp_default .ppt {
  color: #fff;
  text-align: center;
  display: none;
  font-size: 145%;
  margin: 0 0 5px 15px;
  z-index: 9999; }

.pp_default .pp_top {
  height: 13px; }

.pp_default .pp_top .pp_left {
  background: url(../images/sprite.png) -78px -93px no-repeat; }

.pp_default .pp_top .pp_middle {
  background: url(../images/sprite_x.png) top left repeat-x; }

.pp_default .pp_top .pp_right {
  background: url(../images/sprite.png) -112px -93px no-repeat; }

.pp_default .pp_content_container {
  background: #fff;
  padding: 10px;
  border: 5px solid #262626;
  border-radius: 7px;
  position: relative; }

.pp_default .pp_content_container .pp_content {
  min-height: 40px;
  overflow: hidden; }

.pp_default .pp_content_container .pp_content .pp_fade {
  display: none; }

.pp_default .pp_content_container .pp_content .pp_loaderIcon {
  display: block;
  height: 24px;
  left: 50%;
  margin: -12px 0 0 -12px;
  position: absolute;
  top: 50%;
  width: 24px;
  background: url(../images/loader.gif) center center no-repeat; }

.pp_default .pp_content_container .pp_content .pp_expand, .pp_default .pp_content_container .pp_content .pp_contract {
  cursor: pointer;
  display: none;
  height: 20px;
  position: absolute;
  right: 10px;
  text-indent: -10000px;
  top: 10px;
  width: 20px;
  z-index: 20000;
  background: url(../images/sprite.png) 0 -29px no-repeat;
  cursor: pointer;
  height: 28px;
  width: 28px; }

.pp_default .pp_content_container .pp_content .pp_expand:hover, .pp_default .pp_content_container .pp_content .pp_contract:hover {
  background: url(../images/sprite.png) 0 -56px no-repeat; }

.pp_default .pp_content_container .pp_content .pp_contract {
  background: url(../images/sprite.png) 0 -84px no-repeat;
  cursor: pointer;
  height: 28px;
  width: 28px; }

.pp_default .pp_content_container .pp_content .pp_contract:hover {
  background: url(../images/sprite.png) 0 -113px no-repeat; }

.pp_default .pp_content_container .pp_content .pp_hoverContainer {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2000; }

.pp_default .pp_content_container .pp_content .pp_hoverContainer a.pp_next {
  background: url(../images/sprite_next.png) 10000px 10000px no-repeat;
  display: block;
  float: right;
  height: 100%;
  text-indent: -10000px;
  width: 49%; }

.pp_default .pp_content_container .pp_content .pp_hoverContainer a.pp_next:hover {
  background: url(../images/sprite_next.png) center right no-repeat;
  cursor: pointer; }

.pp_default .pp_content_container .pp_content .pp_hoverContainer a.pp_previous {
  background: url(../images/sprite_prev.png) 10000px 10000px no-repeat;
  display: block;
  float: left;
  height: 100%;
  text-indent: -10000px;
  width: 49%; }

.pp_default .pp_content_container .pp_content .pp_hoverContainer a.pp_previous:hover {
  background: url(../images/sprite_prev.png) center left no-repeat; }

.pp_default .pp_content_container .pp_content .pp_gallery {
  display: none;
  left: 50%;
  margin-top: -50px;
  position: absolute;
  z-index: 10000; }

.pp_default .pp_content_container .pp_content .pp_gallery .pp_arrow_previous,
.pp_default .pp_content_container .pp_content .pp_gallery .pp_arrow_next {
  display: block;
  float: left;
  height: 15px;
  margin-top: 3px;
  overflow: hidden;
  text-indent: -10000px;
  width: 14px;
  left: auto;
  position: static;
  background: url(../images/sprite.png) -31px -3px no-repeat;
  height: 20px;
  margin: 4px 0 0;
  width: 20px; }

.pp_default .pp_content_container .pp_content .pp_gallery .pp_arrow_next {
  background-position: -82px -3px;
  left: 52px; }

.pp_default .pp_content_container .pp_content .pp_gallery div {
  float: left;
  overflow: hidden;
  position: relative; }

.pp_default .pp_content_container .pp_content .pp_gallery div ul {
  float: left;
  height: 35px;
  margin: 0 0 0 5px;
  padding: 0;
  position: relative;
  white-space: nowrap; }

.pp_default .pp_content_container .pp_content .pp_gallery div ul li {
  display: block;
  float: left;
  margin: 0 5px 0 0;
  padding: 0; }

.pp_default .pp_content_container .pp_content .pp_gallery div ul li a {
  border: 1px rgba(0, 0, 0, 0.3) solid;
  display: block;
  float: left;
  height: 30px;
  overflow: hidden;
  opacity: 0.6;
  transition: all 0.3s ease-in-out 0s; }

.pp_default .pp_content_container .pp_content .pp_gallery div ul li a:hover {
  opacity: 1; }

.pp_default .pp_content_container .pp_content ul li a {
  background: url("../images/default_thumb.png") repeat scroll center center #f8f8f8;
  border: 1px solid #AAAAAA;
  display: block;
  width: 50px; }

.pp_default .pp_content_container .pp_content .pp_details {
  margin: 10px 0 5px;
  position: relative;
  float: left; }

.pp_default .pp_content_container .pp_content .pp_details .pp_nav {
  clear: none;
  height: 30px;
  position: relative;
  width: 110px;
  float: left; }

.pp_default .pp_content_container .pp_content .pp_details .pp_nav .pp_play, .pp_default .pp_content_container .pp_content .pp_details .pp_nav .pp_pause {
  height: 30px;
  width: 30px;
  float: left;
  margin-right: 4px;
  text-indent: -10000px;
  background: url(../images/sprite.png) -51px 1px no-repeat; }

.pp_default .pp_content_container .pp_content .pp_details .pp_nav .pp_play {
  height: 30px;
  width: 30px; }

.pp_default .pp_content_container .pp_content .pp_details .pp_nav .pp_play:hover {
  opacity: 0.7; }

.pp_default .pp_content_container .pp_content .pp_details .pp_nav .pp_pause {
  background-position: -51px -29px; }

.pp_default .pp_content_container .pp_content .pp_details .pp_nav .pp_pause:hover {
  opacity: 0.7; }

.pp_default .pp_content_container .pp_content .pp_details .pp_nav .pp_arrow_previous,
.pp_default .pp_content_container .pp_content .pp_details .pp_nav .pp_arrow_next {
  display: block;
  float: left;
  height: 15px;
  margin-top: 3px;
  overflow: hidden;
  text-indent: -10000px;
  width: 14px;
  background: url(../images/sprite.png) -31px -3px no-repeat;
  height: 20px;
  margin: 4px 0 0;
  width: 20px; }

.pp_default .pp_content_container .pp_content .pp_details .pp_nav .pp_arrow_previous:hover,
.pp_default .pp_content_container .pp_content .pp_details .pp_nav .pp_arrow_next:hover {
  opacity: 0.7; }

.pp_default .pp_content_container .pp_content .pp_details .pp_nav .pp_arrow_next {
  background-position: -82px -3px;
  left: 52px; }

.pp_default .pp_content_container .pp_content .pp_details .pp_nav .currentTextHolder {
  color: #999;
  font-family: Georgia;
  font-size: 95%;
  font-style: italic;
  left: 75px;
  line-height: 25px;
  margin: 0;
  padding: 0 0 0 10px;
  position: absolute;
  top: 2px; }

.pp_default .pp_content_container .pp_content .pp_details .pp_description {
  font-size: 95%;
  font-weight: 700;
  margin: 5px 50px 5px 0px;
  height: 30px;
  margin: 5px 50px 5px 15px;
  display: inline-block; }

.pp_default .pp_content_container .pp_content .pp_details .pp_close {
  display: block;
  line-height: 22px;
  position: absolute;
  right: 0;
  text-indent: -10000px;
  top: 0;
  background: url(../images/sprite.png) 2px 1px no-repeat;
  cursor: pointer;
  height: 30px;
  width: 30px; }

.pp_default .pp_content_container .pp_content .pp_details .pp_close:hover {
  opacity: 0.7; }

.pp_default .pp_bottom {
  height: 13px; }

#product .sp-bestseller-products {
  display: none; }

#product .sp-bestseller-products.up-sell {
  display: block; }

#up-sell {
  margin-bottom: 10px; }
  #up-sell .page-title-slider {
    color: #666666;
    width: 100%;
    margin: 10px 0; }
    #up-sell .page-title-slider h1 {
      text-transform: uppercase;
      text-align: center;
      font-size: 200%;
      padding: 0;
      margin-bottom: 2px; }
    #up-sell .page-title-slider .pre-text {
      text-transform: capitalize;
      margin-bottom: 30px;
      background: url("../images/bg-cms.png") no-repeat center bottom;
      padding-bottom: 25px;
      font-weight: normal;
      text-align: center;
      margin-top: 0; }
  #up-sell ul.bxslider li.item {
    overflow: hidden; }
    #up-sell ul.bxslider li.item .product_desc .product-image {
      border: 0;
      -webkit-transition: all 0.4s;
      transition: all 0.4s;
      padding: 0; }
    #up-sell ul.bxslider li.item .product_desc .img_0 {
      position: absolute;
      z-index: 1;
      -webkit-transition: all 0.3s ease-in 0s;
      transition: all 0.3s ease-in 0s;
      top: 0;
      left: 100%;
      opacity: 0;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=00)"; }
    #up-sell ul.bxslider li.item .product_desc .quick-view-mobile {
      background: #868686 url("../images/quick-view-icon.png") no-repeat center center;
      border-radius: 50%;
      color: #fff;
      font-size: 13px;
      font-weight: normal;
      height: 50px;
      width: 50px;
      vertical-align: middle;
      white-space: nowrap;
      text-decoration: none;
      z-index: 100;
      position: absolute;
      bottom: 60%;
      margin-left: 39%;
      margin-right: 38%;
      overflow: hidden;
      text-indent: -9999px;
      opacity: 0;
      box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.2);
      -webkit-transform: scale(0);
      -ms-transform: scale(0);
      transform: scale(0); }
      #up-sell ul.bxslider li.item .product_desc .quick-view-mobile:hover {
        background-color: #e74847; }
    #up-sell ul.bxslider li.item .functional-buttons div {
      width: 38px;
      height: 38px;
      border-radius: 3px;
      overflow: hidden;
      background: #868686;
      vertical-align: top;
      margin-right: 2px;
      opacity: 0;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=00)";
      vertical-align: middle;
      transition: 0.6s all ease 0s;
      display: inline-block;
      position: relative; }
      #up-sell ul.bxslider li.item .functional-buttons div.wishlist {
        top: 80px;
        margin-bottom: 0; }
      #up-sell ul.bxslider li.item .functional-buttons div.compare {
        top: 120px; }
      #up-sell ul.bxslider li.item .functional-buttons div i {
        color: #fff;
        font-size: 20px;
        padding: 9px; }
        #up-sell ul.bxslider li.item .functional-buttons div i:hover {
          color: #fff; }
      #up-sell ul.bxslider li.item .functional-buttons div:hover {
        border: 0;
        background-color: #e74847; }
        #up-sell ul.bxslider li.item .functional-buttons div:hover .fa {
          color: #fff; }
    #up-sell ul.bxslider li.item:hover .product-image {
      box-shadow: 7px 7px 0px rgba(0, 0, 0, 0.1); }
      #up-sell ul.bxslider li.item:hover .product-image img {
        -webkit-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s; }
      #up-sell ul.bxslider li.item:hover .product-image .img_0 {
        left: 0;
        opacity: 1;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; }
    #up-sell ul.bxslider li.item:hover .quick-view-mobile {
      opacity: 1;
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
      -webkit-transition: all 0.3s ease-in-out 0s;
      transition: all 0.3s ease-in-out 0s; }
    #up-sell ul.bxslider li.item:hover .functional-buttons div {
      top: 0px !important;
      opacity: 1;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; }
    #up-sell ul.bxslider li.item .star_content {
      float: left;
      margin-right: 15px; }
    #up-sell ul.bxslider li.item .ajax_add_to_cart_button {
      background: #868686 url(../images/icon-addcart.png) center;
      padding: 0 13px;
      padding-left: 35px;
      background-repeat: no-repeat;
      background-position: 13px center;
      float: left;
      margin-right: 5px;
      white-space: nowrap;
      height: 38px;
      line-height: 38px;
      border-radius: 3px;
      font-size: 133.33%; }
      #up-sell ul.bxslider li.item .ajax_add_to_cart_button i {
        display: none; }
      #up-sell ul.bxslider li.item .ajax_add_to_cart_button:hover {
        background: #e74847 url(../images/icon-addcart.png) center;
        background-position: 13px center;
        background-repeat: no-repeat; }
      #up-sell ul.bxslider li.item .ajax_add_to_cart_button span {
        font-size: 17px;
        padding: 2px 0 3px; }
  #up-sell .bx-controls a {
    display: inline-block;
    width: 34px;
    height: 65px;
    background-repeat: no-repeat;
    background-position: center center;
    overflow: hidden;
    position: absolute;
    top: 50%;
    margin-top: -85px;
    z-index: 501;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    cursor: pointer;
    background-color: #7a7a7a; }
    #up-sell .bx-controls a:hover {
      background-color: #e74847; }
    #up-sell .bx-controls a.bx-prev {
      border-radius: 5px 0 0 5px;
      left: -34px; }
      #up-sell .bx-controls a.bx-prev:before {
        content: "\f104";
        color: #fff;
        line-height: 62px;
        padding: 10px; }
        #up-sell .bx-controls a.bx-prev:before:hover {
          color: #fff; }
    #up-sell .bx-controls a.bx-next {
      border-radius: 0 5px 5px 0;
      right: -34px; }
      #up-sell .bx-controls a.bx-next:before {
        content: "\f105";
        color: #fff;
        line-height: 62px;
        padding: 10px; }
        #up-sell .bx-controls a.bx-next:before:hover {
          color: #fff; }

ul.related-product .product-box {
  overflow: hidden;
  margin-bottom: 15px; }
  ul.related-product .product-box .product-image {
    float: left;
    border: 0;
    padding: 0;
    -webkit-transition: all 0.4s;
    transition: all 0.4s; }
    ul.related-product .product-box .product-image img {
      width: auto;
      height: auto; }
  ul.related-product .product-box .related-content {
    padding-left: 15px;
    overflow: hidden; }
    ul.related-product .product-box .related-content h5 {
      margin-top: -6px; }
    ul.related-product .product-box .related-content .price-percent-reduction {
      display: none; }
  ul.related-product .product-box:hover .product-image {
    box-shadow: 7px 7px 0px rgba(0, 0, 0, 0.1); }
    ul.related-product .product-box:hover .product-image img {
      -webkit-transition: all 0.3s ease-in-out 0s;
      transition: all 0.3s ease-in-out 0s; }

.product-detail .zoomImg {
  display: block !important; }
.product-detail #product_comments_block_extra .comments_advices {
  margin: 0; }

.sendtofriend {
  display: none; }

.is_rtl .fancybox-close {
  left: -18px;
  right: inherit; }
.is_rtl #thumbs_list {
  float: right; }
.is_rtl span.view_scroll_spacer {
  float: right;
  margin: 25px 10px; }
  .is_rtl span.view_scroll_spacer .fa-angle-right:before {
    content: "\f104"; }
  .is_rtl span.view_scroll_spacer .fa-angle-left:before {
    content: "\f105"; }
.is_rtl #attributes .attribute_list .selector:after {
  right: auto;
  left: 1px; }
.is_rtl #new_comment_form h2 {
  text-align: right; }
.is_rtl .box-cart-bottom {
  margin-left: 4px; }

/***** IE code ****/
